@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';



.stock-price-details table tr td {
    border: 1px solid #ddd;
    padding: 8px;
}

.stock-price-details table td:first-child {
	font-weight: bold;
	text-transform: capitalize;
    width: 250px;
}

.stock-price-details table td:nth-child(2) {
    width: 150px;
}